
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>



<!-- <mat-sidenav-container style="background-color: rgba(0, 0, 0, 0.363);">
  <mat-sidenav #sidenav mode="push">

    <mat-toolbar style="background-color: rgba(0, 0, 0, 0.527);">
      <span>Menu</span>
      <button mat-mat-icon-button
              (click)="sidenav.toggle()"
              [style.color]="'white'">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

  </mat-sidenav> -->

  <!-- <mat-toolbar style="background-color: rgba(0, 0, 0, 0.527);">
    <button mat-mat-icon-button
            (click)="sidenav.toggle()"
            [style.color]="'white'">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container> -->

