
<div class="main">
  <header class="header">
    <h1>Bienvenido {{auth.name}}</h1>
    <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
  </header>
  <div class="input">
    <form [formGroup]="myForm">
      <input type="text" class="form-control" formControlName="name">
    </form>
  </div>
  <div class="alert alert-danger" *ngIf="(pokemones | filter:name).length === 0">
    <span>No tenemos ese Pokemon registrado en el Pokedex</span>
  </div>
  <div class="cards">
    <div class="card" *ngFor="let pokemon of pokemones | filter:name">
      <div class="card-image">
        <img [src]="pokemon.sprites.front_default" alt="pokemon">
      </div>
      <div class="card-text">
        <h1>{{pokemon.name}}</h1>
      </div>
      <div class="card-caracteristicas">
        <p>Weight: <span>{{pokemon.weight}}</span></p>
        <p>Heigth: <span>{{pokemon.height}}</span></p>
      </div>
      <a class="btn btn-primary"
              id="primer-boton"
              [routerLink]="['/pokemones/vista', pokemon.id]"
              >Ver mas...
    </a>
    </div>
  </div>
</div>
